name: Actualizar base de datos

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: {}

jobs:
    update-database:
        runs-on: ubuntu-latest
    
        steps:
        - name: Checkout
          uses: actions/checkout@v6
    
        - name: Clone data repository
          run: git clone https://github.com/javi-aranda/malaga-parking-data ../malaga-parking-data
    
        - name: Setup Python
          uses: actions/setup-python@v6
          with:
            python-version: '3.13'

        - name: Install uv
          uses: astral-sh/setup-uv@v6
    
        - name: Install dependencies
          run: uv pip install -r requirements.txt
          env:
            UV_SYSTEM_PYTHON: 1
    
        - name: Run script to update database
          run: uv run scripts/ingest.py
    
        - name: Update repository
          uses: EndBug/add-and-commit@v9
          with:
            message: Update database
            author_name: javi-aranda
            committer_name: javi-aranda
            commit: --signoff
